.multilingual-locale-selector {
    float: left;
}

.multilingual-locale-selector i {
    margin: 0 5px 0 0;
}

.multilingual-locale-selector select[name=multilingual-locale-select] {
    margin: 0 3px 0 0;
}
