<?php
/**
 * @var array $locales
 * @var string $detected
 */
 $translate = $this->plugin('translate');
?>

<div class="multilingual-locale-selector">
    <form id="multilingual-locale-selector" name="multilingual-locale-selector">
        <i class="fa fa-language fa-lg"></i>
        <select id="multilingual-locale-select" name="multilingual-locale-select">
            <option value="auto"><?php echo $translate('Auto'); ?></option>
            <?php foreach ($locales as $locale => $display): ?>
                <option value="<?php echo $locale; ?>"<?php echo $locale == $detected ? ' selected' : ''; ?>><?php echo $display; ?></option>
            <?php endforeach; ?>
        </select>
    </form>
</div>
